html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, #EFEFBB, #D4D3DD);
}

/* nav bar for pages*/
.menu {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 5px;
    padding: 0;
}

.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 8px;
    height: 100px;
    width: 100px;
    border-radius: 80%;
    font-family: "Verdana";
    background-color: #8a2629
}

.menuItem.active-tab {
    background-color: black;
}

.menuItem a {
    justify-content: center;
    align-items: center;
    color: #FAFAF9;
    padding: 30px 20px;
    text-decoration: none;
}

.menuItem:hover:not(.active-tab) {
    background-color: #949291;
}

/* page header */
#mainHeader {
    font-size: 16pt;
    border-radius: 5px 20px 5px;
}

.header {
    background-color: #8a8826;
    font-size: 15pt;
    font-family: "Verdana";
    margin: 2px;
}

.pageImage {
    display: flex;
    justify-content: center;
}

.pageDescription {
    background-color: #986C68;
}

h1, h2 {
    margin: 2px;
    color: #FAFAF9;
    text-align: center;
    font-family: Verdana;
}

p:not(.row-description) {
    text-align: justify;
    color: #FAFAF9;
    font-size: 15pt;
    font-family: Palatino;
    margin: 0px;
    padding: 20px;
}

/* coloum form for experience page */
div.row {
    border: 1px solid #986C68;
    box-shadow: 0 12px 8px -8px #986C68;
    margin: 20px;

}

div.column {
    float: left;
    padding: 50px;
}


div.column.side {
    width: 10%;
}

div.column.middle {
    width: 50%;
}

li {
    text-align: justify;
    margin: 10px;
    font-size: 13pt;
    font-weight: bolder;
    font-family: Palatino;
    color: black;

}

.row-description {
    text-align: left;
    margin: 10px;
    font-size: 13pt;
    font-weight: bolder;
    font-family: Palatino;
    color: black;
}

.row-header {
    text-align: justify;
    font-size: 16pt;
    font-weight: bolder;
    font-family: Verdana;
    color: black;
}

div.row:after {
    content: "";
    display: block;
    clear: both;
}

/* table style for education page */
table {
    border-collapse: collapse;
    width: 90%;
    margin: 100px auto;
}

th, td {
    padding: 2rem;
    font-size: 20pt;
    text-align: center;
    font-family: Palatino;
}

tr {
    background: #aee8bf;
    padding-top: .5em;
    padding-bottom: .5em;
}

tr:first-child {
    background: #314d1b;
    color: #FAFAF9;;
}

tr:nth-child(even) {
    background: #965c70;
}

#education-pic-div {
    display: flex;
    justify-content: center;
}

.img-icon {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

/* photo gallery styling */

div.gallery {
    margin: 15px;
    border: 5px solid #ccc;
    width: 300px;
    height: 400px;
    float: left;
}

div.gallery:hover {
    border: 5px solid #949291;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.pic-desc {
    padding: 15px;
    text-align: center;
    font-size: 11pt;
    font-weight: bold;
    font-family: Palatino;
}